$primaryColor: #11c4b0;
$primaryDisbaled: #11c4afb0;
$white: #fff;
$secondryColor: lightgray;

.header {
  border-bottom: 1px solid $secondryColor;
  padding-left: 20px;
  & a {
    font-weight: 300;
    font-size: 3rem;
    font-family: system-ui;
    text-decoration: none;
    color: black;
  }
}
section {
  & h2 {
    font-family: system-ui;
  }
  & .row {
    max-width: 400px;
    border-bottom: 1px solid $secondryColor;
  }
}
.stars {
  margin: 12px;
  width: max-content;
  & .star::before {
    content: "★ ";
  }
  & .star {
    font-size: 50px;
    color: $secondryColor;
    cursor: pointer;
    padding: 2px;
  }
}
.stars:hover > .star {
  color: $primaryColor !important;
}
.star:hover ~ .star {
  color: $secondryColor !important;
}
.comments {
  max-width: 500px;
  width: auto;
  padding: 6px;
  & p {
    font-family: system-ui;
  }
  & #textArea {
    width: -webkit-fill-available;
    border-radius: 10px;
    border: none;
    resize: none;
    padding: 5px;
    box-shadow: 0 0 10px rgba(167, 167, 167, 0.6);
  }
  & #textArea:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7) !important;
  }
}

.button {
  border-radius: 40px;
  background-color: $primaryColor;
  padding: 12px;
  outline: none;
  border: none;
  color: $white;
  display: block;
  margin-top: 12px;
}
.button:disabled {
  background-color: $primaryDisbaled;
  cursor: auto;
}
.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  & .message {
    background-color: $white;
    border-radius: 10px;
    width: 400px;
    overflow: hidden;
    padding: 12px;
    margin: 6px;
    & .checkImage {
      width: 200px;
    }
  }
}

/*Utility classes*/
.text-center {
  text-align: center;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.cursor-pointer {
  cursor: pointer;
}
