<header class="header">
  <a href="https://solavieve.com/">SolaVieve.</a>
</header>
<section>
  <h2 class="text-center">Leave a Feedback!</h2>
  <div class="row mx-auto">
    <p class="text-center">Rate your experience from 0 to 5 stars:</p>
    <div class="stars mx-auto d-flex justify-content-center align-items-center">
      <span
        class="star"
        [ngStyle]="{ color: satisfactionLevel >= 1 ? '#11c4b0' : 'lightgray' }"
        (click)="setSatisfactionLevel(1)"
      ></span>
      <span
        class="star"
        [ngStyle]="{ color: satisfactionLevel >= 2 ? '#11c4b0' : 'lightgray' }"
        (click)="setSatisfactionLevel(2)"
      ></span>
      <span
        class="star"
        [ngStyle]="{ color: satisfactionLevel >= 3 ? '#11c4b0' : 'lightgray' }"
        (click)="setSatisfactionLevel(3)"
      ></span>
      <span
        class="star"
        [ngStyle]="{ color: satisfactionLevel >= 4 ? '#11c4b0' : 'lightgray' }"
        (click)="setSatisfactionLevel(4)"
      ></span>
      <span
        class="star"
        [ngStyle]="{ color: satisfactionLevel == 5 ? '#11c4b0' : 'lightgray' }"
        (click)="setSatisfactionLevel(5)"
      ></span>
    </div>
  </div>
  <div class="row mx-auto">
    <p class="text-center">How satisfied are you with payment process?</p>
    <div class="stars mx-auto d-flex justify-content-center align-items-center">
      <span
        class="star"
        [ngStyle]="{
          color: paymentSatisfactionLevel >= 1 ? '#11c4b0' : 'lightgray'
        }"
        (click)="setPaymentSatisfactionLevel(1)"
      ></span>
      <span
        class="star"
        [ngStyle]="{
          color: paymentSatisfactionLevel >= 2 ? '#11c4b0' : 'lightgray'
        }"
        (click)="setPaymentSatisfactionLevel(2)"
      ></span>
      <span
        class="star"
        [ngStyle]="{
          color: paymentSatisfactionLevel >= 3 ? '#11c4b0' : 'lightgray'
        }"
        (click)="setPaymentSatisfactionLevel(3)"
      ></span>
      <span
        class="star"
        [ngStyle]="{
          color: paymentSatisfactionLevel >= 4 ? '#11c4b0' : 'lightgray'
        }"
        (click)="setPaymentSatisfactionLevel(4)"
      ></span>
      <span
        class="star"
        [ngStyle]="{
          color: paymentSatisfactionLevel == 5 ? '#11c4b0' : 'lightgray'
        }"
        (click)="setPaymentSatisfactionLevel(5)"
      ></span>
    </div>
  </div>
  <div class="row mx-auto">
    <p class="text-center">How satisfied are you with our customer service?</p>
    <div class="stars mx-auto d-flex justify-content-center align-items-center">
      <span
        class="star"
        [ngStyle]="{
          color: CSSatisfactionLevel >= 1 ? '#11c4b0' : 'lightgray'
        }"
        (click)="setCSSatisfactionLevel(1)"
      ></span>
      <span
        class="star"
        [ngStyle]="{
          color: CSSatisfactionLevel >= 2 ? '#11c4b0' : 'lightgray'
        }"
        (click)="setCSSatisfactionLevel(2)"
      ></span>
      <span
        class="star"
        [ngStyle]="{
          color: CSSatisfactionLevel >= 3 ? '#11c4b0' : 'lightgray'
        }"
        (click)="setCSSatisfactionLevel(3)"
      ></span>
      <span
        class="star"
        [ngStyle]="{
          color: CSSatisfactionLevel >= 4 ? '#11c4b0' : 'lightgray'
        }"
        (click)="setCSSatisfactionLevel(4)"
      ></span>
      <span
        class="star"
        [ngStyle]="{
          color: CSSatisfactionLevel == 5 ? '#11c4b0' : 'lightgray'
        }"
        (click)="setCSSatisfactionLevel(5)"
      ></span>
    </div>
  </div>
  <div class="comments mx-auto">
    <p class="text-center">
      Please leave a comment about your experience below:
    </p>
    <textarea
      name="comments"
      id="textArea"
      cols="20"
      rows="8"
      placeholder="Type your comment here..."
      [(ngModel)]="comments"
    ></textarea>
  </div>
  <button
    class="button mx-auto cursor-pointer"
    type="button"
    (click)="sendFeedback()"
    [disabled]="submittingFeedBack"
  >
    <span *ngIf="!submittingFeedBack">SEND FEEDBACK</span>
    <span *ngIf="submittingFeedBack">Please wait...</span>
  </button>
</section>

<div
  class="overlay d-flex justify-content-center align-items-center"
  *ngIf="submitted"
  (click)="submitted = false"
>
  <div
    class="message d-flex justify-content-center align-items-center flex-column"
  >
    <img
      src="../../assets/images/smartphone-checkmark.jpg"
      alt="smartphone-checkmark"
      class="checkImage"
    />
    <p class="text-center">Thank you for your message!</p>
    <p class="text-center">We will be in contact soon.</p>
    <button type="button" class="button cursor-pointer" (click)="submitted = false">
      Close
    </button>
  </div>
</div>
